{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}"/>

    {% block titulo %}
    <title>Catequese NH</title>
    {% endblock titulo %}
</head>
<body>
    {% block cabecalho %} <!-- Cabeçalho -->
    <div id="Cabecalho_fundo">
        <img src="{% static 'img/logo.png' %}" alt="" id="ImgLogo">
        <p class="Titulos" id="Titulo">Capela Nossa Senhora da Imaculada Conceição Aparecida</p>
        <p class="Titulos" id="Subtitulo">Ministério da Iniciação Cristã - Comunidade Novo Horizonte</p>
    </div>
    {% endblock cabecalho %} 

    {% block conteudo %} {% endblock conteudo %} <!-- Conteúdo -->
    
    {% block rodape %} {% endblock rodape %} <!-- Rodapé -->
</body>
</html>